body {
	margin-bottom: 110px;
}

a {
	text-decoration: none;
	@include animation();

	&:hover {
		text-decoration: none;
	}
}

img.custom-logo {
	max-width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

img.img-expositor {
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}