
.bg-color-grey { 
	background-color: $color-grey;
}
.bg-color-grey-light {
	background-color: $color-grey-light;
}
.bg-color-orange-light { 
	background-color: $color-orange-light;
}
.bg-color-orange-dark { 
	background-color: $color-orange-dark;
}
.bg-color-orange-darker { 
	background-color: $color-orange-darker;
}