section.highlighted {

	&.borders {
		border-top: 1px solid $color-grey-light;
		border-bottom: 1px solid $color-grey-light;
	}

	h2 {
		text-align: center;
		margin-bottom: 30px;

		@media (min-width: $large-up) {
			margin-bottom: 0px;
		}
	}
}