// Color Schema

$color-grey: #6D6D6D;
$color-grey-light: #EAEAEA;
$color-grey-dark: #2C2C2C;
$color-orange-light: #FF0000;
$color-orange-dark: #EC0000;
$color-orange-darker: #CA1818;

// Fonts Schema
$font-family-base: 'Raleway', sans-serif;

// Bootstrap Breakpoints

$medium-up: 768px;
$large-up: 1200px;